/*头部让出导航距离*/
.margin-top{margin-top:44px;}
/*父容器 上下内边距*/
.cp-container{padding:0.2rem 0;}
/*row容器*/
.cp-row{margin:0 0.2rem;}
/*粉色渐变背景*/
.bk-pink{
	background: linear-gradient(to right,#FF82A0, #FF4860);
}
/*左浮动*/
.lf{float:left;}
.rg{float:right;}
/*清除浮动*/
.clear:after,.clear:before{
	content:"";
	display: block;
	clear: both;
}
.clear{
	*zoom: 1;
	}
/*清除点击事件背景色*/
.mui-active{background:#fff !important;}